body{
    background: linear-gradient(to right, red, yellow);
}

h1{
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
    color: darkblue;
    justify-items: center;
}

h3{
    color: black;
}