
.bkgd{
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}

.bkgd::after {
    /* content: ""; */
    background-image: url("img/world.jpg"); 
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    }

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: center; 
    width: 100%;
    height: 100vh;
}
    

h1, h2, h3, h4, p {
   color: rgb(5, 5, 59);
}


.title {
    position:center;
    padding: 50px;
    font-size: 2em;
    width: 70%;
    text-align: center;
}

.numbers {
    display: flex;
    margin: 30px;
    width: 70%;
    justify-content: space-between;
    align-self: center;

    
}

.salesnbr {
    float: right;
}

.salesnbr h3 {
    font-size: 2em;
    color: red;
    margin-bottom: 0;
}

.salesnbr p{
    color: brown;
}


/* Section 2 */

.testimonies{
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.woman{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    /* flex-wrap: wrap; */
    width: 250px;
    height: 250px;
    background-color: rgb(113, 143, 126);
}

 .woman .name { order: 2; }
 .woman .position { order: 3; }
 .woman.message{ order: 0; }
 .woman.img{ order: 1; }



.woman p {
  
    background-color: rgb(192, 231, 192);
    height: 100px;
    
}




.testimonies img{
    width: 70px;
    height: 70px;
    border-radius: 30%;
}