


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-nav nav-fill w-100">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">IMDB from DI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_director' %}">Add Director</a>
          </li><li class="nav-item">
            <a class="nav-link" href="{% url 'add_film' %}">Add Film</a>
          </li>
        
        </ul>
        <form class="d-inline-flex">
          <input class="form-control me-2" type="username" placeholder="Username" aria-label="Username">
          <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success" type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </nav>

{% endblock %}