{% extends 'rent/base.html' %}
{% include header %}


{% block content %}


<table>
    <tr>
        <th>Type</th>
        <th>Creation Date</th>
        <th>Cost</th>
        <th>Size</th>
    </tr>
    {% for vehicle in vehicles %}
    <tr>
        <td>{{vehicle.vehicle_type}}</td>
        <td>{{vehicle.vehicle_date_created}}</td>
        <td>{{vehicle.vehicle_real_cost}}</td>
        <td>{{vehicle.vehicle_size}}</td>
    </tr>
    {% endfor %}

   
</table>
<tr>total Investment cost :::::::FONCTION TO ADD </tr>

<p>
    <a href="{% url 'vehicle_add' %}" class="btn btn-primary">New Vehicle</a>
    <a href="{% url 'home_page' %}" class="btn btn-primary">HOME</a>

</p>

{% endblock %}