.container {
    margin-top: 50px;
    padding: 10px;
}

.navbar {
    display: flex;
    width: 95%;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: row;
    width: 350px;
}