.red{
    background-color: rgb(235, 123, 123);
    border: solid black 2px;
    height: 100px;
    padding: 10px 10px;
}

.blue{
    background-color: rgb(141, 172, 230);
    border: solid black 2px;
    height: 100px;
    /* padding: 30px; */
}

.yellow{
    background-color: yellow;
    border: solid black 2px;
    height: 100px;
    /* padding: 30px; */
}

.row{
    margin: 20px;
}


.grid{
    border: 1px solid black;
    background-color: gainsboro;
    display: grid;
    grid-gap: 10px 50px;
    grid-template-areas:
        "a a b b b"
        "a a b b b"
        "c c c c c";

    border: 1px solid black;
    background-color: gainsboro;
}